:root {
  font-size: 10px;

  --color-body-bg: #e8e8e8;
  --color-white: white;
  --color-grey: grey;
  --color-black: #2E2E2E;
}

body {
  margin: 0;
  background-color: var(--color-body-bg);
  font-family: 'Rubik', sans-serif;
}

.today {
  width: 100%;
  max-width: 560px;
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.today__heading {
  z-index: 999;
  color: var(--color-black);
  font-size: 2.4rem;
  text-align: center;
  padding: 4.8rem 0;
  margin: 0;
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, rgba(232, 232, 232,1) 0%, rgba(232, 232, 232,0.7670807453416149) 70%, rgba(232, 232, 232,0) 100%);;
  width: 100%;
  backdrop-filter: blur(3px);
}

.task-list {
  padding: 0 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.task {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 12px;
  font-size: 1.8rem;
  padding: 1.8rem 2.4rem;
  box-sizing: border-box;
  display: flex;
  transition: all 0.3s;
  line-height: 2.4rem;
  align-items: center;
}

.task:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .10);
}

.task__checkbox {
  opacity: 0;
  width: 2.6rem;
  height: 2.2rem;
  cursor: pointer;
  margin-right: 1.8rem ;
}

.task__title {
  position: relative;
  transition: all 0.3s;
}

.task__title:before {
  transition: all 0.3s;
  content: '';
  display: block;
  position: absolute;
  top: 1.2rem;;
  display: block;
  width: 2.8rem;
  left: -4.4rem;
  height: .2rem;
  pointer-events: none;
  background-color: var(--color-grey);
}

.task__checkbox:hover + .task__title:before {
  background-color: var(--color-black);
}

.task__checkbox:hover + .task__title {
  color: var(--color-grey);
}

.task__checkbox:checked + .task__title:before {
  width: calc(100% + 5rem);
  background-color: var(--color-black);
}

.task__checkbox:checked + .task__title {
  color: var(--color-grey);
}